{% extends 'base.html' %}
{% block title %}Add Questions{% endblock %}
{% block content %}
<div class="container">
    <h1>Add Questions to your Quiz {{ quiz_id }}</h1>
    <form action="{{ url_for('quiz.add_questions', quiz_id=quiz_id) }}" method="POST" id="question-form">
        {% for question in questions %}
        <div class="ques_container">
            <h2>Question: {{ question['question_id'] }}</h2>
            <div class="question_type">
                <label for="ques_type">Question Type:</label>
                <select name="ques_type" class="ques_type" required onchange="handleQuestionTypeChange(this)">
                    {% if question["question_type"] == 'MCQ' %}
                    <option value="MCQ" selected>MCQ</option>
                    <option value="Text">Text</option>
                    {% else %}
                    <option value="MCQ">MCQ</option>
                    <option value="Text" selected>Text</option>
                    {% endif %}
                </select>
            </div>
            <div class="question">
                <label for="question">Question:</label>
                <input type="text" name="question" class="questionInput" value="{{question['question_text']}}" required oninput="renderQuestionText(this)">
                <div class="renderedQuestion"></div> <!-- Display rendered MathJax for question -->
                <div class="time-limit">
                    <label for="time-limit">Time Limit:</label>
                    <div class="duration">
                        {% if question['duration'] != None %}
                        <input type="number" name="hours-1" min="0" max="5" value="{{question['duration'].split(':')[0]}}">
                        <label for="hours">hr.</label>
                        <input type="number" name="minutes-1" min="0" max="59" value="{{question['duration'].split(':')[1]}}">
                        <label for="minutes">min.</label>
                        <input type="number" name="seconds-1" min="0" max="59" value="{{question['duration'].split(':')[2].split('.')[0]}}">
                        <label for="seconds">sec.</label>
                        {% else %}
                        <input type="number" name="hours-1" min="0" max="5">
                        <label for="hours">hr.</label>
                        <input type="number" name="minutes-1" min="0" max="59">
                        <label for="minutes">min.</label>
                        <input type="number" name="seconds-1" min="0" max="59">
                        <label for="seconds">sec.</label>
                        {% endif %}
                    </div>
                    <p>If you want to go for Manual Lock Unlock Feature, then leave the time blocks unfilled.</p>
                </div>
                {% if question["question_type"] == 'MCQ' %}
                <div class="options_container" id="options_container">
                    <label for="options">Options:</label>
                    <div id="options-list">
                        {% for option in question['options'] %}
                        <div class="option-container">
                            {{loop.index}}<input type="text" name="option-{{question['question_id']}}" class="optionInput" value="{{option['option_text']}}" required oninput="renderOptionText(this)">
                            <div class="renderedOption"></div> <!-- Display rendered MathJax for option -->
                            {% if option['correct']==1 %}
                            <input type="checkbox" name="correct-{{question['question_id']}}" checked value="{{loop.index}}">
                            {% else %}
                            <input type="checkbox" name="correct-{{question['question_id']}}" value="{{loop.index}}">
                            {% endif %}
                            <button type="button" onclick="removeOption(this)">Remove</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addOption(this)">Add Option</button>
                </div>
                <div class="answer_text" id="answer_text" style="display: none;">
                    <label for="answer"></label>
                    <input type="text" name="answer" value="Answer" required>
                </div>
                {% else %}
                <div class="options_container" id="options_container" style="display: none;">
                    <label for="options">Options:</label>
                    <div id="options-list"></div>
                    <button type="button" onclick="addOption(this)">Add Option</button>
                </div>
                <div class="answer_text" id="answer_text">
                    <label for="answer"></label>
                    <input type="text" name="answer" value="{{question['options'][0]['option_text']}}" required>
                </div>
                {% endif %}
            </div>
            <button type="button" class="del-btn" onclick="deleteQuestion(this)">Delete Question</button>
        </div>
        {% endfor %}
        <button type="button" id="add_ques" onclick="addQuestion()">Add Question</button>
        <button type="submit">DONE</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('.ques_type').forEach(handleQuestionTypeChange);
        });

        function handleQuestionTypeChange(selectElement){
            const questionType = selectElement.value;
            const questionContainer = selectElement.closest('.ques_container');
            const answerField = questionContainer.querySelector('.answer_text input');
            const options = questionContainer.querySelectorAll('.options_container input[type="text"]');

            if (questionType === 'MCQ'){
                questionContainer.querySelector('.options_container').style.display = 'block';
                questionContainer.querySelector('.answer_text').style.display = 'none';
                // Remove required from answer field and add required to options
                answerField.removeAttribute('required');
                options.forEach(option => option.setAttribute('required', 'true'));
            } else if (questionType === 'Text'){
                questionContainer.querySelector('.answer_text').style.display = 'block';
                questionContainer.querySelector('.options_container').style.display = 'none';
                // Add required to answer field and remove from options
                answerField.setAttribute('required', 'true');
                options.forEach(option => option.removeAttribute('required'));
            }
        }

        function renderQuestionText(inputElement) {
            const renderedDiv = inputElement.closest('.ques_container').querySelector('.renderedQuestion');
            renderedDiv.innerHTML = `${inputElement.value}`;
            MathJax.typesetPromise([renderedDiv]);
        }

        function renderOptionText(inputElement) {
            const renderedDiv = inputElement.closest('.option-container').querySelector('.renderedOption');
            renderedDiv.innerHTML = `${inputElement.value}`;
            MathJax.typesetPromise([renderedDiv]);
        }

        function addOption(button){
            const optionsList = button.closest('.options_container').querySelector('#options-list');
            const questionContainer = button.closest('.ques_container');
            const questionNumber = Array.from(document.querySelectorAll('.ques_container')).indexOf(questionContainer) + 1;
            const optionCount = optionsList.querySelectorAll('.option-container').length + 1;
            const optionContainer = document.createElement('div');
            optionContainer.className = 'option-container';
            optionContainer.innerHTML = `
                ${optionCount}.<input type="text" name="option-${questionNumber}" class="optionInput" required oninput="renderOptionText(this)">
                <div class="renderedOption"></div>
                <input type="checkbox" name="correct-${questionNumber}" value="${optionCount}">
                <button type="button" onclick="removeOption(this)">Remove</button>`;
            optionsList.appendChild(optionContainer);
            updateOptionNumbers(optionsList, questionNumber);
        }

        function removeOption(button){
            const optionContainer = button.parentNode;
            const optionsList = optionContainer.parentNode;
            optionContainer.parentNode.removeChild(optionContainer);
            const questionContainer = button.closest('.ques_container');
            const questionNumber = Array.from(document.querySelectorAll('.ques_container')).indexOf(questionContainer) + 1;
            updateOptionNumbers(optionsList, questionNumber);
        }

        function addQuestion(){
            const questionForm = document.getElementById('question-form');
            const newQuestionContainer = document.createElement('div');
            newQuestionContainer.className = 'ques_container';
            const questionCount = document.querySelectorAll('.ques_container').length + 1;
            newQuestionContainer.id = `ques-${questionCount}`;
            newQuestionContainer.innerHTML = `
                <h2>Question: ${questionCount}</h2>
                <div class="question_type">
                    <label for="ques_type">Question Type:</label>
                    <select name="ques_type" class="ques_type" required onchange="handleQuestionTypeChange(this)">
                        <option value="MCQ">MCQ</option>
                        <option value="Text">Text</option>
                    </select>
                </div>
                <div class="question">
                    <label for="question">Question:</label>
                    <input type="text" name="question" class="questionInput" required oninput="renderQuestionText(this)">
                    <div class="renderedQuestion"></div>
                    <div class="time-limit">
                        <label for="time-limit">Time Limit:</label>
                        <div class="duration">
                            <input type="number" name="hours-${questionCount}" min="0" max="5">
                            <label for="hours">hr.</label>
                            <input type="number" name="minutes-${questionCount}" min="0" max="59">
                            <label for="minutes">min.</label>
                            <input type="number" name="seconds-${questionCount}" min="0" max="59">
                            <label for="seconds">sec.</label>
                        </div>
                        <p>If you want to go for Manual Lock Unlock Feature, then leave the time blocks unfilled.</p>
                    </div>
                    <div class="options_container" id="options_container">
                        <label for="options">Options:</label>
                        <div id="options-list"></div>
                        <button type="button" onclick="addOption(this)">Add Option</button>
                    </div>
                    <div class="answer_text" id="answer_text" style="display: none;">
                        <label for="answer"></label>
                        <input type="text" name="answer">
                    </div>
                </div>
                <button type="button" class="del-btn" onclick="deleteQuestion(this)">Delete Question</button>`;
            questionForm.insertBefore(newQuestionContainer, document.getElementById('add_ques'));
        }

        function deleteQuestion(button){
            const questionContainer = button.closest('.ques_container');
            questionContainer.parentNode.removeChild(questionContainer);
            updateQuestionNumbers();
        }

        function updateQuestionNumbers(){
            document.querySelectorAll('.ques_container').forEach((container, index) => {
                container.querySelector('h2').textContent = `Question: ${index + 1}`;
            });
        }

        function updateOptionNumbers(optionsList, questionNumber){
            optionsList.querySelectorAll('.option-container').forEach((option, index) => {
                option.firstChild.textContent = `${index + 1}.`;
                option.querySelector('input[type="checkbox"]').name = `correct-${questionNumber}`;
                option.querySelector('input[type="checkbox"]').value = `${index + 1}`;
            });
        }
    </script>
</div>
{% endblock %}
