{% extends 'base.html' %}
    {% block title %}Dashboard{% endblock %}
    {% block content %}
    <h1>Welcome {{g.admin['username']}}</h1>

    <h2>Create a new quiz:</h2>
    <a href="{{url_for('quiz.create')}}" type="button" class="btn btn-outline-success">Create Quiz</a>

    <h2>Your Quizzes:</h2>
    <div class="your_quizzes">
        <ul>
            {% for quiz in Quizzes %}
                {% if quiz['admin_id'] == g.admin['admin_id'] %}
                    <li>{{quiz['quiz_name']}} : {{quiz['quiz_id']}}</li>
                    <a href="{{url_for('quiz.add_questions',quiz_id=quiz['quiz_id'])}}" type="button" class="btn btn-outline-success">Edit Quiz</a>
                    <a href="{{url_for('quiz.delete_quiz',quiz_id=quiz['quiz_id'])}}" type="button" class="btn btn-outline-danger">Delete Quiz</a>
                    <a href="{{url_for('approve.appr_num',quiz_id=quiz['quiz_id'])}}" type="button" class="btn btn-outline-primary">Start Quiz</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <h4>Want to logout?</h4>
    <a href="{{url_for('auth.logout')}}" type="button" class="btn btn-outline-danger" style="bottom: 20px;">Logout</a>
    {% endblock %}