<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <h1>Welcome {{g.user['username']}}</h1>
    <h2>Active Quizzes:</h2>
    <ul>
        {% for quiz in Quizzes %}
            <li style="text-align: center;">{{quiz['quiz_id']}}</li>
        {% endfor %}
    <h2>Want to give quiz, Enter quiz code:</h2>
    <form method="post">
        <input type="text" name="quiz_code" id="quiz_code" required>
        <input type="submit" value="Start Quiz" class="btn btn-primary">
    </form>
    <h4>Want to logout?</h4>
    <a href="{{url_for('auth.logout')}}" type="button" class="btn btn-outline-danger" style="bottom: 20px;">Logout</a>
    
</body>
</html>