{% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
    <div class="welcome">
    <h1>
        Welcome to the login authentication page
    </h1>
    <h2>You have to Login/Register first</h2>
        <div>
            <a href="{{url_for('auth.login_admin')}}" type="button" class="btn btn-outline-success">Login as Admin</a>
            <a href="{{url_for('auth.login_student')}}" type="button" class="btn btn-outline-success">Login as Student</a>
            <a href="{{url_for('auth.register')}}" type="button" class="btn btn-outline-success">Register</a>
        </div>
    </div>
    {% endblock %}