{% extends 'base.html' %}
{% block title %}IITGN Local Hosted Quiz WebApp{% endblock %}

{% block content %}
<div class="quiz-container">
    <div class="quiz_code-container">
        Quiz Code: <span id="quiz_code">{{quiz.quiz_id}}</span>
    </div>
    <div class="quiz-header">
        <div class="username">Username: <span id="username">{{g.user['username']}}</span></div>
    </div>
    
    <div class="timer">
        Time Left: <span id="timer"></span>
    </div>
    <div class="question">
        <div id="question-text">{{ques.question_text}}</div>
    </div>
    <div style="margin-top: 40px;"></div>
    <form method="post" action="{{url_for('quiz.user_response')}}">
        <ul class="options">
            {% for option in options %}
                <li>
                    {% if ques['question_type'] == 'MCQ' %}
                        <input type="checkbox" id="{{option['option_id']}}" name="response-{{ques['question_id']}}" value="{{option['option_id']}}">
                        <label for="{{option['option_id']}}" class="option-label" data-option-text="{{option['option_text']}}">{{option['option_text']}}</label>
                    {% elif ques['question_type'] == 'Text' %}
                        <label for="response-{{ques['question_id']}}">Type your answer.</label>
                        <input type="text" id="response-{{ques['question_id']}}" name="response-{{ques['question_id']}}" value="">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if ques['question_id'] != ques_count %}
            <button type="submit" class="btn" name="next" value="next" id="next">Next</button>
        {% else %}
            <button type="submit" class="btn" name="submit" value="submit">Submit</button>
        {% endif %}
        <div class="footer">
            {{ques['question_id']}} of {{ques_count}} Questions
        </div>
    </form>
</div>

<script>

    {% if ques['duration'] == None %}
        document.getElementById("timer").innerHTML = "Admin can lock/unlock the question anytime!";
    {% else %}
        const unlock_time = new Date("{{ques['unlock_time']}}").getTime();
        let hours = parseInt("{{ques['duration'].split(':')[0]}}");
        let minutes = parseInt("{{ques['duration'].split(':')[1]}}");
        let seconds = parseInt("{{ques['duration'].split(':')[2].split('.')[0]}}");
        const max_dist = (hours * 3600) + (minutes * 60) + seconds;
        const timer = setInterval(function() {
            let now = new Date().getTime();
            let distance = Math.floor((now - unlock_time) / 1000);
            distance = max_dist - distance;
            hours = Math.floor(distance / 3600);
            minutes = Math.floor((distance % 3600) / 60);
            seconds = Math.floor(distance % 60);
            document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(timer);
                document.getElementById("timer").innerHTML = "Time's up!";
                if ("{{ques['question_id']}}" != "{{ques_count}}") {
                    document.getElementById("next").click();
                } else {
                    document.getElementById("submit").click();
                }
            }
        }, 1000);
    {% endif %}
</script>
{% endblock %}
